#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * @version 1
 *#

#set ($MINOR = 0)
#set ($MAJOR = 1)

#if($TRANSLATION == "true")
	#set ($OPEN_PAREN = "(")
	#set ($CLOSE_PAREN = ")")
	#set ($AYA_CLASS = "trans")
	#set ($DIR = ${TRANS_DIRECTION})
#else
	#set ($OPEN_PAREN = "&#64831;")
	#set ($CLOSE_PAREN = "&#64830;")
	#set ($AYA_CLASS = "quran")
	#set ($DIR = "rtl")
#end

#set ($SAJDA_SIGN = "&#1769;")
#foreach ($AYA in $AYA_LIST)
	#set($AYA_NUM = $velocityCount)
	#foreach ($JUZ in $JUZ_LIST)
		#if ($JUZ.AyaNumber == $AYA_NUM)
			<nobr><span class="juzSign" title="$JUZ">[$JUZ.Index]</span></nobr>
		#end
	#end
	<a name="#${AYA_NUM}" class="${AYA_CLASS}">
	#if ($TEXT_LAYOUT == "line_by_line")
		<div class="aya" id="${SURA_NUM}_${AYA_NUM}">
	#elseif ($TEXT_LAYOUT == "block")
		<span class="aya" id="${SURA_NUM}_${AYA_NUM}">
	#end
			
			#if ($MIXED == "true")
				#foreach ($A in $AYA)
					#if ($velocityCount != 1)
					<div dir="${TRANS_DIRECTION}" class="trans">
					#else
					<div class="quran">
					#end
					$A
					</div>
				#end
			#else
					$AYA
			#end
			<span title="${SURA_NAME} - ${AYA_NUM}">
				<nobr><span id="sign_${SURA_NUM}_${AYA_NUM}" class="ayaSign">$OPEN_PAREN$AYA_NUM$CLOSE_PAREN</span></nobr>
			</span>
			#foreach ($SAJDA in $SAJDA_LIST)
				#if ($SAJDA.AyaNumber == $AYA_NUM)
					#if ($SAJDA.Type == $MINOR)
						<span id="minor" class="sajda" title="$SAJDA">[$SAJDA_SIGN]</span>
					#elseif ($SAJDA.Type == $MAJOR)
						<span id="major" class="sajda" title="$SAJDA">[[$SAJDA_SIGN]]</span>
					#end
				#end
			#end
	#if ($TEXT_LAYOUT == "line_by_line")
		</div>
	#elseif ($TEXT_LAYOUT == "block")
		</span>
	#end
	</a>
#end