.printWatermark {
	display: none;
}
span.sajda#minor {
	font-family: serif;
	color: rgb(200, 40, 40);
/*	border: 1px rgb(200, 40, 40) solid;*/
}

span.sajda#major {
	font-family: serif;
	color: rgb(240, 10, 10);
/*	border: 1px rgb(200, 40, 40) solid;*/
}

span.juzSign {
	font-family: serif;
	color: rgb(0, 40, 200);
}

span.ayaSign {
}

.quran span.hizbSign {
#set($fontSize = $UTILS.round($UTILS.mul($UTILS.toInteger($quran_fontSize),"0.8")))
	font: ${fontSize}pt serif;
	font-weight: bold;
	font-family: serif;
	color: rgb(60, 120, 230);
}

.trans span.hizbSign {
#set($fontSize = $UTILS.round($UTILS.mul($UTILS.toInteger($trans_fontSize),"0.8")))
	font: ${fontSize}pt serif;
	font-weight: bold;
	color: rgb(60, 120, 230);
}

#custom.trans {
	padding: 4px 0px;
}

.queryDetail {
	font: 0.82em Tahoma, Arial, Sans-serif;
	border: 1px dashed silver;
	padding: 2px;
}
.queryDetail a:link, a:visited { 
	color: rgb(40, 90, 230);
	text-decoration: none;
}

.queryDetail a:hover { 
	color: rgb(200, 50, 10);
}
