<?xml version="1.0" encoding="utf-8"?>
<playlist version="1" xmlns="http://xspf.org/ns/0/">
	<title>Zekr Playlist: ${AUDIO_DATA.Reciter}</title>
	<info>http://siahe.com/zekr</info>
	<creator>${AUDIO_DATA.Reciter}</creator>
	<creator>${AUDIO_DATA.License}</creator>
	<trackList>
		#foreach ($TRACK in $TRACK_LIST)<track>
			<title>$TRACK.Sura.Name ($TRACK.Sura.Index) - $TRACK.Aya</title>
			<location>$TRACK.Url</location>
		</track>#end
		#foreach ($SPECIAL_ITEM in $SPECIAL_ITEM_LIST)<track>
			<location>$SPECIAL_ITEM</location>
		</track>#end
	</trackList>
</playlist>
