#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * @version 1
 *#
#macro (putHizbSignIfPossible)
	#foreach ($JUZ in $ALL_JUZ_LIST) #foreach ($LOC in $JUZ.HizbQuarters) #set($hizbQuarter = $velocityCount - 1)
		#if ($SURA_NUM == $LOC.Sura && $AYA_NUM == $LOC.Aya)
			#set ($hizbNum = $hizbQuarter / 4 + 1)
			#set ($hizbNum = ($JUZ.Index - 1) * 2 + $hizbNum)
			#set ($hizbQuarter = $hizbQuarter % 4)
			#if ($hizbQuarter != 0) #set ($Q = " - $DICT.getMeaning('QUARTER'): $hizbQuarter")
		 	#else #set ($Q = "") #end
			<nobr><span class="hizbSign" title="$I18N.localize("${JUZ} - ${DICT.getMeaning('HIZB')}: ${hizbNum}${Q}")">&#1758;</span></nobr>
		#end
	#end #end
#end
#set ($MINOR = 0)
#set ($MAJOR = 1)
#if($TRANSLATION == "true")
	#set ($OPEN_PAREN = "(")
	#set ($CLOSE_PAREN = ")")
	#set ($AYA_CLASS = "trans")
	#set ($DIR = ${TRANS_DIRECTION})
	#set ($_DL = $I18N.Locale.Language) ## digit language
#else
	#set ($OPEN_PAREN = "&#64831;")
	#set ($CLOSE_PAREN = "&#64830;")
	#set ($AYA_CLASS = "quran")
	#set ($DIR = "rtl")
	#set ($_DL = "ar")
#end
#set ($SAJDA_SIGN = "&#1769;")
#if($MIXED == "true")
	#set ($A_CLASS = "")
#else
	#set ($A_CLASS = " ayaSep")
#end
<div id="searchableSection" class="$AYA_CLASS">
#foreach ($AYA in $AYA_LIST)
	#set($AYA_NUM = $velocityCount)
	#foreach ($JUZ in $JUZ_LIST)
		#if ($JUZ.AyaNumber == $AYA_NUM)
			<nobr><span class="juzSign" title="$JUZ">[$I18N.localize($JUZ.Index)]</span></nobr>
		#end
	#end
	#if ($TEXT_LAYOUT == "line-by-line")
		<div class="aya${A_CLASS}" id="${SURA_NUM}_${AYA_NUM}">
	#elseif ($TEXT_LAYOUT == "block")
		<span class="aya" id="${SURA_NUM}_${AYA_NUM}">
	#end
	#if ($CUSTOM != "true" && $MIXED == "true") #foreach ($A in $AYA)
		#if ($velocityCount != 1)
		<div dir="${TRANS_DIRECTION}" class="trans" lang="${TRANS_LANG}">
		#set ($_LANG=$TRANS_LANG)
		#else
		<div class="quran" lang="ar">#putHizbSignIfPossible()
		#set ($_LANG="ar")
		#end
		${A}
		#if (($velocityCount == 1 && $quran_showSuraAyaSign == "true") || ($velocityCount == 2 && $trans_showSuraAyaSign == "true"))
		<span class="suraAyaNum">[$I18N.localize("${SURA_NUM}:${AYA_NUM}","${_LANG}")]</span> #end
		</div>
	#end #elseif ($CUSTOM == "true" && $MIXED == "true")
		<div class="quran" lang="ar">#putHizbSignIfPossible()
		$AYA
		#if ($quran_showSuraAyaSign == "true")
		<span class="suraAyaNum">[$I18N.localize("${SURA_NUM}:${AYA_NUM}","ar")]</span>
		#end
		#parse("$THEME_DIR/multi-trans.vm")
		</div>
	#else
		#putHizbSignIfPossible() $AYA
	#end
	#if ($MIXED == "true")
	<table><tr><td valign="middle">
	#end
		<nobr><span id="sign_${SURA_NUM}_${AYA_NUM}" title="${SURA_NAME} - $I18N.localize(${AYA_NUM})" class="ayaSign">$OPEN_PAREN$I18N.localize($AYA_NUM,"${_DL}")$CLOSE_PAREN</span></nobr>
	#if ($MIXED == "true")
	</td><td width="100%" valign="middle">
		<p class="ayaSep" />
	<td></tr></table>
	#end
	#foreach ($SAJDA in $SAJDA_LIST)
		#if ($SAJDA.AyaNumber == $AYA_NUM)
			#if ($SAJDA.Type == $MINOR)
				<span id="minor" class="sajda" title="$SAJDA">[$SAJDA_SIGN]</span>
			#elseif ($SAJDA.Type == $MAJOR)
				<span id="major" class="sajda" title="$SAJDA">[[$SAJDA_SIGN]]</span>
			#end
		#end
	#end
	#if ($TEXT_LAYOUT == "line-by-line")
		</div>
	#elseif ($TEXT_LAYOUT == "block")
		</span>
	#end
#end
</div>
