<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="$APP_PATH">
	<link rel="stylesheet" type="text/css" href="${CSS_DIR}style.css">

	<script src="$UI_DIR/js/jquery.js" language="javascript" type="text/javascript"></script>
	<script src="$UI_DIR/js/ifx.js" language="javascript" type="text/javascript"></script>
	<script src="$UI_DIR/js/iutil.js" language="javascript" type="text/javascript"></script>
	<script src="$UI_DIR/js/ifxscrollto.js" language="javascript" type="text/javascript"></script>

	<script src="$UI_DIR/js/utils.js" language="javascript" type="text/javascript"></script>
	<script src="$UI_DIR/js/search.js" language="javascript" type="text/javascript"></script>
<title>$TITLE</title>
</head>
