#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 * @author Mohsen Saboorian
 *#
<input type="hidden" id="hiddenVolume" value="$VOLUME" />
<input type="hidden" id="hiddenPlaylistUrl" value="$PLAYLIST_URL" />
<input type="hidden" id="hiddenContinuousAyaPlay" value="$AUD_CONT_AYA" />
<input type="hidden" id="hiddenContinuousSuraPlay" value="$AUD_CONT_SURA" />
<input type="hidden" id="hiddenPlaylistItemArray" value="$UTILS.items2JsArray($PLAYLIST_PROVIDER, $SURA_NUM)" />
<input type="hidden" id="prestartAudioItem" value="$PLAYLIST_PROVIDER.getSpecialItem('prestart')" />
<input type="hidden" id="startAudioItem" value="$PLAYLIST_PROVIDER.getSpecialItem('start')" />
<input type="hidden" id="endAudioItem" value="$PLAYLIST_PROVIDER.getSpecialItem('end')" />
<div id="footerBar" align="center" class="footerBar" dir="${DIRECTION}">
<table><tr>
	<td width="40"><button id="playButton" title="$DICT.getMeaning('PLAY')" style="padding: 0px 5px" __state="false"
	__title="$DICT.getMeaning('PAUSE')" onclick="togglePlayPause();">
	<img src="$RES.getString('theme.icon.play')" __icon="$RES.getString('theme.icon.pause')"
		style="margin: 1px" alt="" />
	</button></td>

	<td width="40"><button id="stopButton" title="$DICT.getMeaning('STOP')" style="padding: 0px 5px"
		onclick="stopPlayer();">
	<img src="$RES.getString('theme.icon.stop')" style="margin: 1px" alt="" />
	</button></td>

#set($CONT_AYA_ICON = $RES.getString('theme.icon.contAya'))
#set($DISC_AYA_ICON = $RES.getString('theme.icon.noContAya'))
#set($CONT_SURA_ICON = $RES.getString('theme.icon.contSura'))
#set($DISC_SURA_ICON = $RES.getString('theme.icon.noContSura'))
#set($CONT_AYA_TEXT = $DICT.getMeaning('CONT_AYA'))
#set($DISC_AYA_TEXT= $DICT.getMeaning('DISC_AYA'))
#set($CONT_SURA_TEXT = $DICT.getMeaning('CONT_SURA'))
#set($DISC_SURA_TEXT = $DICT.getMeaning('DISC_SURA'))
#if($AUD_CONT_AYA=='true') #set($SURA_BUT_STAT = '') #else #set($SURA_BUT_STAT = 'disabled="true"') #end
	<td><div class="reciterBar" id="reciterBar"></div></td>
	<td width="25"><button id="contSuraButton" title="#if($AUD_CONT_SURA=='true')$CONT_SURA_TEXT#else$DISC_SURA_TEXT#end"
		style="width: 25px; height: 25px" onclick="toggleSuraButton(this)" $SURA_BUT_STAT __state="$AUD_CONT_SURA"
		__title="#if($AUD_CONT_SURA=='true')$DISC_SURA_TEXT#else$CONT_SURA_TEXT#end">
		<img src="#if($AUD_CONT_SURA=='true')$CONT_SURA_ICON#else$DISC_SURA_ICON#end"
		__icon="#if($AUD_CONT_SURA=='true')$DISC_SURA_ICON#else$CONT_SURA_ICON#end" alt="" /></button></td>
	<td width="25"><button id="contAyaButton" title="#if($AUD_CONT_AYA=='true')$CONT_AYA_TEXT#else$DISC_AYA_TEXT#end"
		style="width: 25px; height: 25px" onclick="toggleAyaButton(this)" __state="$AUD_CONT_AYA"
		__title="#if($AUD_CONT_AYA=='true')$DISC_AYA_TEXT#else$CONT_AYA_TEXT#end">
		<img src="#if($AUD_CONT_AYA=='true')$CONT_AYA_ICON#else$DISC_AYA_ICON#end"
		__icon="#if($AUD_CONT_AYA=='true')$DISC_AYA_ICON#else$CONT_AYA_ICON#end" alt="" /></button></td>
</tr></table>
</div>
 