#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * @version 1
 *#

#set( $BISM_PATH = "res/image/bism290.gif" )
#if($TRANSLATION == "true")
	#set($TD_CLASS="trans")
	#set($BODY_ID="transBody")
	#set($DIR=${TRANS_DIRECTION})
#else
	#set($TD_CLASS="quran")
	#set($BODY_ID="quranBody")
	#set($DIR="rtl")
#end

#macro(putBismillah)
	#if ($SURA_NUM != 9) ##&& $SURA != 1) #** not a good idea! *#
	<img src="$BISM_PATH" alt="بسم الله الرحمن الرحیم">
	#end
#end
<html>
#parse("$THEME_DIR/head.vm")
</head>
<body id="${BODY_ID}" dir="${DIR}">
<input type="hidden" id="hiddenSuraNum" value="${SURA_NUM}" />
<input type="hidden" id="hiddenAyaNum" value="${AYA_NUM}" />
<div id="headerBar" class="headerBar" dir="${DIRECTION}">
	$SURA_MSG: <input dir="ltr" id="suraNav" type="text" style="width: 3em" value="${SURA_NUM}" />
	&nbsp;&nbsp;|&nbsp;&nbsp;
	$AYA_MSG: <input dir="ltr" id="ayaNav" type="text" style="width: 3em" value="${AYA_NUM}" />
	<input type="button" value="${GOTO_MSG}" onclick="navtoSuraAya()" />
</div>
<script>
$("input#ayaNav").keyup(function(e) {
	if (e.keyCode == 13 || e.keyCode == 10)
		navtoSuraAya();
});
$("input#suraNav").keyup(function(e) {
	if (e.keyCode == 13 || e.keyCode == 10)
		navtoSuraAya();
});
</script>
<div id="body" class="body">
	<div class="bodyTop" align="center">
	#putBismillah()
	</div>

	<div id="quranSection" class="main">
	#parse ("$THEME_DIR/aya.vm")
	</div>

	<div class="bodyBottom"></div>
</div>
</body>
</html>