#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * @author Mohsen Saboorian
 *#
#set( $BISM_PATH = "res/image/bism290.gif" )
#if($TRANSLATION == "true")
	#set($TD_CLASS="trans")
	#set($BODY_ID="transBody")
	#set($DIR=${TRANS_DIRECTION})
#else
	#set($TD_CLASS="quran")
	#set($BODY_ID="quranBody")
	#set($DIR="rtl")
#end
#if($DIRECTION == "rtl")
	#set($LEAD="right")
	#set($TRAIL="left")
#else
	#set($LEAD="left")
	#set($TRAIL="right")
#end
#macro(putBismillah)
	#if ($SURA_NUM != 9) ##&& $SURA != 1) #** not a good idea! *#
	<img src="$BISM_PATH" alt="بسم الله الرحمن الرحیم">
	#end
#end
<html>
#parse("$THEME_DIR/head.vm")
<body id="${BODY_ID}" dir="${DIR}">
<script>
window.res = null;
</script>
<input type="hidden" id="hiddenSuraNum" value="$SURA_NUM" />
<input type="hidden" id="hiddenAyaNum" value="$AYA_NUM" />
<input type="hidden" id="hiddenAyaCount" value="$UTILS.arraySize($AYA_LIST)" />
<input type="hidden" id="hiddenAudioEnabled" value="$AUDIO_ENABLED" />
<div id="headerBar" class="headerBar" dir="${DIRECTION}">
	<table width="100%" style="padding: 0px; margin: 0px" cellspacing="0" cellpadding="0">
		<tr valign="middle"><td align="$LEAD">
		$SURA_MSG: <input dir="ltr" id="suraNav" type="text" style="width: 3em" value="${SURA_NUM}" />
		&nbsp;&nbsp;|&nbsp;&nbsp;
		$AYA_MSG: <input dir="ltr" id="ayaNav" type="text" style="width: 3em" value="${AYA_NUM}" />
		<input type="button" value=" ${GO_MSG} " onclick="navtoSuraAya()" />
		</td>
		<td id="nextPrevButtons" align="$TRAIL" style="display: none">
			<span id="focusedWord" class="focusedWord">&nbsp;</span>&nbsp;&nbsp;
			<button title="$PREV" style="padding: 0px 10px 0px 10px;" onclick="$('#nextPrevButtons')[0]._res.prev()">
			<img src="res/image/icon/up_arrow.gif" style="margin: 1px" alt="$PREV" />
			</button>&nbsp;
			<button title="$NEXT" style="padding: 0px 10px 0px 10px;" onclick="$('#nextPrevButtons')[0]._res.next()">
			<img src="res/image/icon/down_arrow.gif" style="margin: 1px" alt="$NEXT"/>
			</button>
		</td></tr>
	</table>
</div>

#if(!$AUDIO_DISABLED)
#parse("$THEME_DIR/player.vm")
#end

<script>
$("input#suraNav,input#ayaNav").bind("keyup", function(e) {
	if (e.keyCode == 13 || e.keyCode == 10)
		navtoSuraAya();
});
</script>
<div id="body" class="body">
	<div class="bodyTop" align="center">
	#putBismillah()
	</div>
	<div id="quranSection" class="main">
	#parse("$THEME_DIR/aya.vm")
	</div>
	<div class="bodyBottom"></div>
</div>
#parse("$THEME_DIR/watermark.vm")
</body>
</html>